body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #338;
}

h1 {
    color: #005f89;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #005f99;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}


.navbar {
    margin-bottom: 20px;
}

.list-group-item a {
    color: #005f99;
}

.list-group-item a:hover {
    text-decoration: underline;
}

.table th {
    background-color: #005f99;
    color: white;
}
